@import url(HamoVid/templates/login.html)
@import url(HamoVid/templates/home.html)
*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.hero{
  height: 100%;
  width: 100%;
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(https://images.squarespace-cdn.com/content/v1/552cae96e4b07585523559dc/1428993380512-L3VPD4WBH48CK5DMAIJN/ke17ZwdGBToddI8pDm48kPTrHXgsMrSIMwe6YW3w1AZ7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z4YTzHvnKhyp6Da-NYroOW3ZGjoBKy3azqku80C789l0k5fwC0WRNFJBIXiBeNI5fKTrY37saURwPBw8fO2esROAxn-RKSrlQamlL27g22X2A/Dollar+Photo+Club+Teal+Square+Background.jpg);
  background-position: center;
  background-size: cover;
  position: absolute;
}
.form-box{
  width: 380px;
  height: 480px;
  position: relative;
  margin: 6% auto;
  background: #fff;
  padding: 5px;
  overflow: hidden;
}

.button-box{
  width: 220px;
  margin: 35px auto;
  position: relative;
  box-shadow: 0 0 20px 9px #E0F7FA;
  border-radius: 30px;
}

.toggle-btn{
  padding: 10px 30px;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  position: relative;
}

#btn{
  top: 0;
  left: 0;
  position: absolute;
  width: 110px;
  height: 100%;
  background: linear-gradient(to right, #0033FF, #00FFFF);
  border-radius: 30px;
  transition: .5s;
}
.input-group{
  top: 160px;
  position: absolute;
  width: 280px;
  transition: .5s;
}
.input-field{
  width: 100%;
  padding: 10px 0;
  margin: 10px;
  border-left: 0;
  border-top: 0;
  border-bottom: 1px solid #999;
  border-right: 0;
  background: transparent;
}
.submit-btn{
  width: 85%;
  padding:  10px 30px;
  cursor: pointer;
  display: block;
  margin: auto;
  background: linear-gradient(to right, #0033FF, #00FFFF);
  border: 0;
  outline: none;
  border-radius: 30px;
}
.checkbox{
  margin: 30px 10px 30px 0;
}
.span{
  color: #777;
  font-size: 12px;
  bottom: 68px;
  position: absolute;
}
.reset{
  top: 300px;
  padding: inherit;
  border: 0;
  width: 100px;
  margin: 10px;
  background: transparent;
}
#login{
  left: 50px;
}
#register{
  left: 450px;
}


.main-menu-area{}
.logo{
  margin-top: 100px;
  width: 30px;
  margin: 0 10px;
  top: 0;
  transition: .5s;
  height: 100%;
  position: fixed;
  text-align: left;
}
a{
  color: #444444;
}
.logo{
  position: fixed;
  color: #ffffff;
  display: inline-block;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: left;
}
.main-menu{}
.main-menu ul{}
.main-menu ul li{
  display: inline-block;
}
.main-menu ul li a{
  color: #444444;
  font-weight: 700;
  padding: 30px 20px;
  text-transform: uppercase;
}
.signle-slider{
  height: 100vh;
}
header{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 11;
}
.table-cell h1{
  color: #ffffff;
  font-weight: bold;
  font-style: oblique;
  font-size: 60px;
}
.table-cell p{
  color: #ffffff;
  font-style: oblique;
  font-weight: bolder;
  font-size: 20px;
}
.table-cell{
  display: table-cell;
  vertical-align: middle;
}
.slider-title{
  display: table;
  height: 100%;
  text-align: center;
  width: 100%;
}
