<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>HomaVid</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/static/img/logo.png">
    <link rel="stylesheet" href="/static/js/main.js">
    <link rel="stylesheet" href="/static/js/owl.carousel.min.js">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <script type="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
  </head>
<body>
  <header>
    <div class="main-menu-area">
      <div class="container">
        <div class="raw">
          <div class="col-md-3">
            <div class="logo">
              <a href="#">logo</a>
            </div>
          </div>
          <div class="col-md-9">
            <div class="main-menu text-right">
              <nav>
                <ul>
                  <!-- <li><a href="#"><img src="/static/img/logo.png" alt=""></a> -->
                  <li><a href="#">Home</a></li>
                  <li><a href="#">About</a></li>
                  <li><a href="#">Shop</a></li>
                  <li><a href="#">Services</a></li>
                  <li><a href="#">Blog</a></li>
                  <li><a href="#">Contact</a></li>
                </ul>
              </nav>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class="slider-area">
    <div class="slider-active owl-carousel">
    <div class="signle-slider" style="background-image:url(/static/img/banner.jpg)">
      <div class="slider-title">
          <div class="table-cell">
            <h1>Welcome to KafeeL</h1>
            <p>Donate what u want</p>
          </div>
      </div>
    </div>
    </div>
  </div>
  <!-- plugins -->
  <script type="/static/js/main.js"></script>
  <script type="/static/js/owl.carousel.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>
