{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

<div class="page-header">
</div>

<div class="row">
        <div class="col-sm-4">
        {% for img in images %}
          {% if img.featured %}
          <div class="col-xs-12">
          <h3>Featured</h3>
                <img class="img-responsive" src="/{{ MEDIA_URL }}{{ img.image }}" />
          <hr/>
          </div>
          {% endif %}
          {% endfor %}
          {% for img in images %}
          {% if not img.featured %}
          <div class="col-xs-6">
          <a href="#" class="thumbnail">
                <img class="img-responsive" src="/{{ MEDIA_URL }}{{ img.image }}">
          </a>
          </div>
          {% endif %}
        {% endfor %}
        </div>
    <div class="col-sm-8">
      <h1 style="
        font-weight: 100;
        letter-spacing: 3px;
        margin-bottom: 3rem;
        font-size: 2.9rem;">{{ product.title }}</h1><button href="#" style="
        " class="btn btn-info btn-primary"><h1>Contact</h1></button>
          <hr/>
      Place : Algeirs, Setif, Ain El Kebira
      <hr/>
      {{ product.description|linebreaks }}
    </div>
</div>
{% endblock %}
